[Unit]
Description=Record sensor data from an MQTT Broker to a FaunaDB instance
After=multi-user.target

[Service]
Type=simple
User=
WorkingDirectory=
ExecStart=
Restart=on-failure
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target